.modal-children {
  padding: 10px;
  margin-top: 20px;
}

.delete {
  color: #000000;
  display: flex;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 25px;
}

.title {
  font-size: 15px;
  font-style: oblique;
  font-weight: 700;
}
