.container {
  margin: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #c50303b8;
}

.nav-link {
  color: #000000;
}

.image {
  width: 400px;
  height: 200px;
}

.name {
  font-size: 25px;
  font-family: cursive;
}
