.version-container {
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #2a5298;
}

.nav-link {
  color: black;
}

.image {
  width: 400px;
  height: 200px;
}

.image-text {
  font-size: 25px;
  font-family: cursive;
}
