.image {
  width: 400px;
  height: 200px;
}

.imageText {
  font-size: 25px;
  font-family: cursive;
}

.navLink {
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: cursive;
  text-decoration: underline;
  font-size: 25px;
}

.gtaVersion {
  margin: 30px;
}

.versionContainer {
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #2a5298;
}

.versionComponent {
  display: flex;
  flex-wrap: wrap;
}
