.version-container {
  margin: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.gta-version {
  display: flex;
  flex-wrap: wrap;
}

.add-button {
  margin-left: 10px;
}
