.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 5px solid #000000;
  background-color: #c50303b8;
}

.header-title {
  cursor: pointer;
  font-size: 25px;
  color: #000000;
  font-family: fantasy;
}

.avatar {
  cursor: pointer;
}

.dropdown-field {
  font-family: fantasy;
}
