.container {
  margin: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  background-color: #c50303b8;
}

.nav-link {
  color: #000000;
  cursor: pointer;
}

.image {
  width: 400px;
  height: 200px;
}

.name {
  font-size: 25px;
  font-family: fantasy;
}

.version-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.distinctive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 29px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 15px;
}
