.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: cursive;
  text-decoration: underline;
  font-size: 25px;
}

.version-container {
  margin: 30px;
}

.gta-version {
  display: flex;
  flex-wrap: wrap;
}
